<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fragment</title>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/immutable@4.0.0-rc.12/dist/immutable.js"></script>

  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fre"></script>
</head>
<body>
  <div id='app'></div>
  <script type="module">
    import * as oops from '../../src/index.js'
    window.oops = oops
  </script>
  <script type="text/babel">
    // const { Fragment, useState } = React
    const { Fragment, useState } = oops
    ReactDOM.render = oops.render
    React.createElement = oops.h

    const message = `
        Hello, there!
        HTML doesn't render new line characters by default,
        but you can add them back in as <br> tags!
      `

    function App() {
      return (
        message.split('\n').map((line, i, lines) =>
          <Fragment key={i}>
            {line}
            {i !== lines.length - 1 && <br />}
          </Fragment>
        )
      )
    }

    ReactDOM.render(<App />, document.getElementById('app'))
  </script>
</body>
</html>