<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fragment dev test</title>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
  <div id='app'></div>
  <script type="module">
    import * as oops from '../../src/index.js'
    window.oops = oops
  </script>
  <script type="text/babel">
    const { jsx, Fragment, useState, useEffect, render } = oops
    const React = { createElement: oops.h }
    
    const ops = []

    function sleep(t) {
      return new Promise(resolve => setTimeout(resolve, t))
    }

    function Stateful() {
      return <div>Hello</div>
    }
    Stateful._componentDidUpdate = function(oldVnode, vnode) {
      // console.log(oldVnode, vnode)
      ops.push('Update Stateful')
    }

    function Foo({ set }) {
      const [condition, setCondition] = useState(false)
      set(value => {
        setCondition(value)
        return sleep(0)
      })

      return condition
        ? (
          <Stateful key="a" />
        )
        : (
            <Fragment>
              <Stateful key="a" />
              <Fragment>
                <div key="b">World</div>
              </Fragment>
            </Fragment>
        )
    }

    let changeValue
    const node1 = render(<Foo set={fn => changeValue = fn} />, app)
    window.n = node1
    ;(async () => {
      // console.log(ops)

      await sleep(2000)
      await changeValue(true)
      // console.log(ops)

      await sleep(2000)
      await changeValue(false)
      // console.log(ops)
    })()
  </script>
</body>
</html>