<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fragment dev test</title>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
  <div id='app'></div>
  <script type="module">
    import * as oops from '../../src/index.js'
    window.oops = oops
  </script>
  <script type="text/babel">
    const { jsx, Fragment, useState, render } = oops

    function _render(vnode, app) {
      if (!app) {
        app = document.createElement('div')
      }

      const geml = elm =>
        Array.isArray(elm)
          ? geml(elm[0])
          : elm

      return new Promise(resolve => {
        render(vnode, app, elm => resolve(geml(elm)))
      })
    }

    async function App() {
      let e = await _render(jsx`
        <>
          <>
            <div>text1</div>
          </>
          <span>text2</span>
          <>
            <>
              <>
                ${null}
                <p />
              </>
              ${false}
            </>
          </>
        </>,
      `)
      console.log(e);
      let parent = e.parentNode;
      // expect(parent.childNodes[0].tagName).toBe('DIV')
      // expect(parent.childNodes[1].tagName).toBe('SPAN')
      // expect(parent.childNodes[2].tagName).toBe('P')
      console.log(parent.childNodes[0].tagName)
      console.log(parent.childNodes[1].tagName)
      console.log(parent.childNodes[2].tagName)
    }
    App()
  </script>
</body>
</html>